@keyframes linkHover {
    from {width: 5vh;
        height: 5vh;}
    to {width: 5.4vh;
        height: 5.4vh;}
}

body{
    margin: 0;
}

#divQR{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#shareDiv{
    position: absolute;
    right: 10vh;
    top: 1vh;
    max-width: 40vw;
    display: none;
    padding: 2.2vh;
    border-radius: 2vh;
    background: white;
    text-align: center;
    font-size: 1.8vh;
    font-family: "Segoe UI";
    color: #9f9f9f;
}

#web-you-buttons-div{
    position: absolute;
    right: 2.5vh;
    top: 2.5vh;
    width: 5vh;
    min-width: 40px;
}

#slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 5vh;
}

#slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    left: 10px;
    width: max-content;
    max-width: 100%;
    margin: auto;
    position: relative;
    display: flex;
}

.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 10vh;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
}

.slide.selected {
    border: 2px solid #4285f4;
}

.slide:focus {
    outline: none;
}

.slide:focus-visible {
    outline: 1px solid #4285f4;
}

#shareDiv h1{
    font-size: 1.8vh;
    font-weight: bold;
    color: black;
}

#divQR{
    display: none;
    border-radius: 2vh;
    background: white;
    text-align: center;
    font-size: 1.8vh;
    font-family: "Segoe UI Semibold";
    padding: 2.2vh;
    max-width: 24vh;
    bottom: 20vh;
}

#divQR img{
    margin-top: 2.4vh;
    height: 18vh; width:  18vh;
}

.web-you-canvas{
    position: relative;
    width: 100%;
}

.web-you-button{
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5vh;
    height: 5vh;
    border-radius: 2vh;
}

.web-you-button:hover{
    animation-name: linkHover;
    animation-duration: 0.5s;
    width: 5.4vh;
    height: 5.4vh;
}

.web-you-button img{
    width: inherit;
    height: inherit;
    min-height: 40px;
    min-width: 40px;
}
